<div class="large-12 columns section network" data-index="1"> 
    <div class="row">
        <div class="large-8 centered padded">
            <span class="icon twitterIco"></span>
            <span class="icon tubeIco"></span>
            <h4>Network went crazy.</h4>
            <h4>View DevDay reviews</h4>
        </div>
        <div class="large-8 centered filters">
            <h4 class="all lightBlue">All reviews</h4>
            <h4 class="att">From attendees</h4>
            <h4 class="spk">From speakers</h4>
        </div>
        <div class="large-12 columns">
            <div class="large-6 small-12 review att">
                <div class="reviewIco">
                    <span class="smallIco tw"></span>
                </div>
                <p>
                    the amount of energy and motivation I bring from
                    <a href="https://twitter.com/search?q=%23abbdevday&src=hash">#abbdevday</a> is amazing - huge
                    thank you to <a href="https://twitter.com/mihcall">@@mihcall</a>
                    <a href="https://twitter.com/rafek">@@rafek</a> and the whole crew</p>
                <p>
                    <span class="reviewer">Robert Wilczyński</span>
                    <span class="reviewerContact">
                        <a href="https://twitter.com/rwilczynski">@@rwilczynski</a>
                    </span>
                    <a class="reviewLink" href="https://twitter.com/rwilczynski/status/382062691415646208">Open link</a>
                </p>
            </div>
            <div class="large-6 small-12 review spk">
                <div class="reviewIco">
                    <span class="smallIco tw"></span>
                </div>
                <p>
                    <a href="https://twitter.com/search?q=%23abbdevday&src=hash">#abbdevday</a> was amazing!! Proud
                    to have spoken there. <a href="https://twitter.com/rafek">@@rafek</a> &
                    <a href="https://twitter.com/mihcall">@@mihcall</a> are truly amazing people!! Great to meet
                    everyone else too!
                </p>
                <p>
                    <span class="reviewer">Ben Hall</span>
                    <span class="reviewerContact">
                        <a href="https://twitter.com/Ben_Hall">@@Ben_Hall</a>
                    </span>
                    <a class="reviewLink" href="https://twitter.com/Ben_Hall/status/382072647527309312">Open link</a>
                </p>
            </div>
            <div class="large-6 small-12 review spk">
                <div class="reviewIco">
                    <span class="smallIco tw"></span>
                </div>
                <p>
                    <a href="https://twitter.com/ABBDevDay">@@ABBDevDay</a> you guys are awesome. That is all.
                </p>
                <p>
                    <span class="reviewer">Itamar Syn-Hershko</span>
                    <span class="reviewerContact">
                        <a href="https://twitter.com/synhershko">@@synhershko</a>
                    </span>
                    <a class="reviewLink" href="https://twitter.com/synhershko/status/382107070356393985">Open link</a>
                </p>
            </div>
            <div class="large-6 small-12 review att">
                <div class="reviewIco">
                    <span class="smallIco fb"></span>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida Lorem ipsum dolor sit amet </p>
                <p> <span class="reviewer">Arek Benedykt</span> <span class="reviewerContact">‏@@abenedykt</span> <a class="reviewLink" href="http://www.twitter.com">Open link</a> </p>
            </div>
            <div class="large-6 review small-12 spk">
                <div class="reviewIco">
                    <span class="smallIco tw"></span>
                </div>
                <p>
                    Dear free conferences in the UK - you have to raise your game. #abbdevday incredibly well organised.
                </p>
                <p>
                    <span class="reviewer">Paul Stack</span>
                    <span class="reviewerContact">@@stack72</span>
                    <a class="reviewLink" href="https://twitter.com/stack72/status/380717198958145537">Open link</a>
                </p>
            </div>
            <div class="large-6 small-12 review">
                <div class="reviewIco">
                    <span class="smallIco bl"></span>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida Lorem ipsum dolor sit amet </p>
                <p> <span class="reviewer">Arek Benedykt</span> <span class="reviewerContact">‏@@abenedykt</span> <a class="reviewLink" href="http://www.twitter.com">Open link</a> </p>
            </div>
        </div>
    </div>
    <div class="seeYa icon">
        <span>See you next year!<br>More info soon...</span>
    </div>
</div>