<div class="large-12 columns section photos" data-index="4">
<div class="row">
    <div class="large-12 centered padded">
        <span class="icon photosIco"></span>
        <h4>A picture is worth a thousand words. What if there's 659 of pictures? Enjoy the slideshow!</h4>
    </div>
    <div class="large-12 columns">
        <div class="pic"> <a href="../Content/img/photos/u348.jpg"><img src="../Content/img/tmb/u289.png"alt="pic1"/></a></div>
        <div class="pic"> <a href="../Content/img/photos/u348.jpg"><img src="../Content/img/tmb/u287.png"alt="pic2"/></a></div>
        <div class="pic"> <a href="../Content/img/photos/u348.jpg"><img src="../Content/img/tmb/u285.png"alt="pic3"/></a></div>
        <div class="pic"> <a href="../Content/img/photos/u348.jpg"><img src="../Content/img/tmb/u283.png"alt="pic4"/></a></div>
        <div class="pic"> <a href="../Content/img/photos/u348.jpg"><img src="../Content/img/tmb/u281.png"alt="pic5"/></a></div>
        <div class="pic"> <a href="../Content/img/photos/u348.jpg"><img src="../Content/img/tmb/u279.png"alt="pic6"/></a></div>
    </div>
</div>
</div>