<div class="large-12 columns section stats" data-index="2">
    <div class="row">
        <div class="large-8 centered padded">
            <span class="icon statsIco"></span>
            <h4>Some useless stats.</h4>
            <h4>View event in numbers</h4>
        </div>
        <div class="large-12">

        </div>
    </div>
</div>